/* colors.css: All of the Web UI's color variables in one place */

/*

PURPOSE: Consistent, easily modifiable color variables 
abstracted to a single file.

HOW TO USE: All variables in the CAPY COLOR SUITE should be treated 
as constants. These constants should NOT be found in other CSS files. 
Instead, create variables in the COLOR VARIABLES section, and use those. 
COLOR VARIABLES should be duplicated and adjusted in the dark mode 
section as well.

*/

:root {
    /* GLOBAL STYLES ============================ */
    --site-transition: 0.25s;
    --site-font: 'Asap', sans-serif;

    /* CAPY COLOR SUITE ========================= */

    /* All colors used on the site are found here */
    --primary-light: #339b92;
    --primary: #007a75;
    --primary-dark: #00464d;
    --primary-extra-dark: #002633;
    --accent: #f1602f;
    --off-white: #f9fafa;
    --highlight: #f4f8f6;
    --off-black: #20201f;

    /* MISC DEV VARIABLES ======================= */

    /* COLOR VARIABLES ========================== */

    /* Global Styles: backgrounds, text */
    --site-bg: var(--off-white);
    --standard-white: var(--off-white);
    --standard-black: var(--off-black);
    --standard-text: var(--primary);
    --standard-bw-text: var(--off-black);

    /* Navbar */
    --nav-bg: #e6e6e6;
    --navlink-hover-bg: rgb(0 0 0 / 5%);
    --navlink-color: #444;
    --nav-indicator-bg: #d0d0d0;

    /* Carousel */
    --carousel-bg: #f2dede;

    /* Organizations */
    --org-bg: #d9d9d9;
    --img-placeholder-bg: #b3807d;
    --general-org-btn-bg: #b3807d;
    --manage-org-btn-bg: #97bdc6;
}

[data-theme='dark'] {
    /* COLOR VARIABLES ========================== */

    /* Global Styles: backgrounds, text */
    --site-bg: var(--off-black);
    --standard-white: var(--off-black);
    --standard-black: var(--off-white);
    --standard-text: var(--off-white);
    --standard-bw-text: var(--off-white);

    /* Navbar */

    /* Carousel */
}
