.header-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background: var(--header-bg);
    height: 5rem;
    margin: 0 0 1rem;
    padding: 1rem 2rem 1rem 1rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
    color: var(--standard-text);
}

.header-title {
    margin: 0;
    flex-grow: 1;
    font-weight: 500;
}

.header-right-btns {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    align-items: center;
}

.profile-btn,
.register-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.35rem 1rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    transition: var(--site-transition);
}

.profile-btn {
    background: var(--standard-text);
    color: var(--standard-white);
}

.register-btn {
    border-radius: 0.7rem;
    border: 2px solid var(--standard-text);
}

.register-btn:hover {
    background: var(--standard-text);
    color: var(--standard-white);
}
