.header-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background: var(--header-bg);
    height: 5rem;
    margin: 0 0 1rem;
    padding: 1rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
    color: var(--standard-text);
}

.header-title {
    margin: 0;
    flex-grow: 1;
}

.profile-btn {
    cursor: pointer;
}

.register-btn {
    cursor: pointer;
}
