/* Styles for Sidebar.tsx and SidebarButton.tsx */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background: var(--sidebar-bg);
    padding: 0.5rem 0;
    transition: width 500ms ease;
}

.collapsed {
    width: 2rem;
    align-items: center;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 0 1rem;
}

.collapse-toggle {
    margin-left: auto;
}

.sidebar.collapsed .collapse-toggle {
    margin: 0 auto;
}

.sidebar-title {
    flex-grow: 1;
    font-size: 1.5rem; /* For now */
}

.sidebar.collapsed .sidebar-title {
    display: none;
}

.main-sidebar-link-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-link {
    width: 100%;
    height: 3rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.active-link {
    background: var(--sidebar-active-link-bg);
}

.sidebar-link-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar.collapsed .sidebar-link-label {
    display: none;
}
